.content{
    display: block;
}

.content .sidebar{
    float: left;
}

.container .heading h2{
    padding: 15px;
}

.content .sidebar .form-content{
    float: right;
}
.content form{
    width:400px;
    float: right;
    margin-top: 50px;
    margin-right: 200px;
}

.form-group #image{
    width:250px;
}
.form-group #image button{
    width:250px;
}
.form-group .imageBrowser{
    display: inline;
    background-color:lightseagreen;
    width: 300px;
    height: 200px;
}