.container_view{
    width: 900px;
    margin-left: 300px;
}

.container_view .form-group h1{
margin-left: 300px;
margin-top: 50px;
}

.container_view .form-group img{
    margin-top:30px;
    margin-left: 250px;
}

.container_view .form-group p{
    margin-top:30px;
    margin-bottom: 20px;
}
.container_view .form-group .btn{
    margin-left: 100px;
    color: black;
    font-weight: bold;
    background-color: red;
    border-radius: 20px;
    width: fit-content;
}

.container_viewQuestions{
    margin-top:100px;
    margin-left: 450px;;
}

.container_viewQuestions .form-group pre{
    margin-top:50px;
    margin-bottom: 30px;
}